<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326612037740-l3f3v2rufst3akn5o120km9t464mgsb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326612037740-l3f3v2rufst3akn5o120km9t464mgsb2</string>
	<key>API_KEY</key>
	<string>AIzaSyAcBnOGTzH19QvgcFnsS_MFxy3p8UTUtcs</string>
	<key>GCM_SENDER_ID</key>
	<string>326612037740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAppNew</string>
	<key>PROJECT_ID</key>
	<string>habittracker-fb9bd</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-fb9bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326612037740:ios:f2a6e847ecb8d36096e849</string>
</dict>
</plist>